footer{
    background-color: grey;
    height: 10vh;
    color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    font-size: 1.2rem;

    ul{
        list-style-type: none;
    }

    a{
        text-decoration: none;
        color: white;
    }
}