header {
  height: 5vh;
  display: flex;
  background-color: #00a7f5;
  padding: 0px 20px;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  color: white;
  font-size: 1.5rem; }
  header span {
    font-weight: 700; }
  header ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 9vw; }
    header ul a {
      text-decoration: none;
      color: white; }
